---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - exDIhbAQTZ2p_oKMvS-NQw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-search-6f4cfbc7c5-hqnjf
    body:
      encoding: UTF-8
      string: |
        {
          "name" : "serverless",
          "cluster_name" : "f58ec1d678504dbe8384aa5bcf132797",
          "cluster_uuid" : "yHGFvd82SwOgzSScG1qvxA",
          "version" : {
            "number" : "8.11.0",
            "build_flavor" : "serverless",
            "build_type" : "docker",
            "build_hash" : "00000000",
            "build_date" : "2023-10-31",
            "build_snapshot" : false,
            "lucene_version" : "9.7.0",
            "minimum_wire_compatibility_version" : "8.11.0",
            "minimum_index_compatibility_version" : "8.11.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Wed, 06 Sep 2023 06:25:51 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/books/_doc
    body:
      encoding: UTF-8
      string: '{"name":"The Hitchhiker''s Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/books/_doc/SIIraYoBx5W3OXMSLOOo"
      x-cloud-request-id:
      - oH7wuV99Rv66eBCeNjwGBQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-index-89dc5b7c-wcfls
    body:
      encoding: UTF-8
      string: '{"_index":"books","_id":"SIIraYoBx5W3OXMSLOOo","_version":1,"result":"created","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
  recorded_at: Wed, 06 Sep 2023 06:25:51 GMT
[...]
- request:
    method: post
    uri: https://my-deployment.elastic.co/books/_update/fLoraYoBUqUndw8VeD0l
    body:
      encoding: UTF-8
      string: '{"doc":{"page_count":225}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - EskBlVJITtGsTUvT57k0Zw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-index-89dc5b7c-wcfls
    body:
      encoding: UTF-8
      string: '{"_index":"books","_id":"fLoraYoBUqUndw8VeD0l","_version":2,"result":"updated","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":4,"_primary_term":1}'
  recorded_at: Wed, 06 Sep 2023 06:26:16 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/_bulk
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"books","_id":"42"}}
        {"name":"The Hitchhiker's Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}
        {"index":{"_index":"books","_id":"43"}}
        {"name":"Snow Crash","author":"Neal Stephenson","release_date":"1992-06-01","page_count":470}
        {"index":{"_index":"books","_id":"44"}}
        {"name":"Starship Troopers","author":"Robert A. Heinlein","release_date":"1959-12-01","page_count":335}
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - aozRClyKTjKwhG0K83-FGA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-index-89dc5b7c-wcfls
    body:
      encoding: UTF-8
      string: '{"errors":false,"took":250,"items":[{"index":{"_index":"books","_id":"42","_version":1,"result":"created","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":5,"_primary_term":1,"status":201}},{"index":{"_index":"books","_id":"43","_version":1,"result":"created","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1,"status":201}},{"index":{"_index":"books","_id":"44","_version":1,"result":"created","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":7,"_primary_term":1,"status":201}}]}'
  recorded_at: Wed, 06 Sep 2023 06:26:31 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/_bulk
    body:
      encoding: UTF-8
      string: |
        {"delete":{"_index":"books","_id":"42"}}
        {"delete":{"_index":"books","_id":"43"}}
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 7emuqpY-SHic_iYokrz16Q
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-index-89dc5b7c-wcfls
    body:
      encoding: UTF-8
      string: '{"errors":false,"took":167,"items":[{"delete":{"_index":"books","_id":"42","_version":2,"result":"deleted","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":8,"_primary_term":1,"status":200}},{"delete":{"_index":"books","_id":"43","_version":2,"result":"deleted","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":9,"_primary_term":1,"status":200}}]}'
  recorded_at: Wed, 06 Sep 2023 06:26:57 GMT
recorded_with: VCR 6.2.0
