---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - obZl0P74QAmJ3Wc-NUNexQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-search-6f4cfbc7c5-tj4rf
    body:
      encoding: UTF-8
      string: |
        {
          "name" : "serverless",
          "cluster_name" : "f58ec1d678504dbe8384aa5bcf132797",
          "cluster_uuid" : "yHGFvd82SwOgzSScG1qvxA",
          "version" : {
            "number" : "8.11.0",
            "build_flavor" : "serverless",
            "build_type" : "docker",
            "build_hash" : "00000000",
            "build_date" : "2023-10-31",
            "build_snapshot" : false,
            "lucene_version" : "9.7.0",
            "minimum_wire_compatibility_version" : "8.11.0",
            "minimum_index_compatibility_version" : "8.11.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Wed, 06 Sep 2023 06:20:20 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 3P-TsH6ASfmG6_rGqgh9QA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-search-6f4cfbc7c5-hqnjf
    body:
      encoding: UTF-8
      string: |
        {
          "name" : "serverless",
          "cluster_name" : "f58ec1d678504dbe8384aa5bcf132797",
          "cluster_uuid" : "yHGFvd82SwOgzSScG1qvxA",
          "version" : {
            "number" : "8.11.0",
            "build_flavor" : "serverless",
            "build_type" : "docker",
            "build_hash" : "00000000",
            "build_date" : "2023-10-31",
            "build_snapshot" : false,
            "lucene_version" : "9.7.0",
            "minimum_wire_compatibility_version" : "8.11.0",
            "minimum_index_compatibility_version" : "8.11.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Wed, 06 Sep 2023 06:20:20 GMT
recorded_with: VCR 6.2.0
