---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - onZ3AnYOQUicbNOgxnNjDA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-search-6f4cfbc7c5-tj4rf
    body:
      encoding: UTF-8
      string: |
        {
          "name" : "serverless",
          "cluster_name" : "f58ec1d678504dbe8384aa5bcf132797",
          "cluster_uuid" : "yHGFvd82SwOgzSScG1qvxA",
          "version" : {
            "number" : "8.11.0",
            "build_flavor" : "serverless",
            "build_type" : "docker",
            "build_hash" : "00000000",
            "build_date" : "2023-10-31",
            "build_snapshot" : false,
            "lucene_version" : "9.7.0",
            "minimum_wire_compatibility_version" : "8.11.0",
            "minimum_index_compatibility_version" : "8.11.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Wed, 06 Sep 2023 06:33:21 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/_reindex?refresh=true
    body:
      encoding: UTF-8
      string: '{"source":{"index":"books"},"dest":{"index":"books-reindexed"}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - zBAzGQj5Sji0wD8Hg9J9hg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-index-89dc5b7c-rd49w
    body:
      encoding: UTF-8
      string: '{"took":1067,"timed_out":false,"total":29,"updated":0,"created":29,"deleted":0,"batches":1,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
  recorded_at: Wed, 06 Sep 2023 06:33:23 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/books-reindexed/_search
    body:
      encoding: UTF-8
      string: '{"query":{"match_all":{}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - xvfmf0hxTtijBtm5j04yTQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-search-6f4cfbc7c5-tj4rf
    body:
      encoding: UTF-8
      string: '{"took":17,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":29,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"books-reindexed","_id":"R4IqaYoBx5W3OXMSIeMx","_score":1.0,"_source":{"name":"The
        Hitchhiker''s Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}},{"_index":"books-reindexed","_id":"e7oqaYoBUqUndw8V0z2v","_score":1.0,"_source":{"name":"The
        Hitchhiker''s Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}},{"_index":"books-reindexed","_id":"SIIraYoBx5W3OXMSLOOo","_score":1.0,"_source":{"name":"The
        Hitchhiker''s Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}},{"_index":"books-reindexed","_id":"fLoraYoBUqUndw8VeD0l","_score":1.0,"_source[...]
