---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - OsOABKa0QbmGLsBq7rD9uQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-search-6f4cfbc7c5-hqnjf
    body:
      encoding: UTF-8
      string: |
        {
          "name" : "serverless",
          "cluster_name" : "f58ec1d678504dbe8384aa5bcf132797",
          "cluster_uuid" : "yHGFvd82SwOgzSScG1qvxA",
          "version" : {
            "number" : "8.11.0",
            "build_flavor" : "serverless",
            "build_type" : "docker",
            "build_hash" : "00000000",
            "build_date" : "2023-10-31",
            "build_snapshot" : false,
            "lucene_version" : "9.7.0",
            "minimum_wire_compatibility_version" : "8.11.0",
            "minimum_index_compatibility_version" : "8.11.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Wed, 06 Sep 2023 06:30:09 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/_bulk
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"books"}}
        {"name":"Leviathan Wakes","author":"James S.A. Corey","release_date":"2011-06-02","page_count":561}
        {"index":{"_index":"books"}}
        {"name":"Hyperion","author":"Dan Simmons","release_date":"1989-05-26","page_count":482}
        {"index":{"_index":"books"}}
        {"name":"Dune","author":"Frank Herbert","release_date":"1965-06-01","page_count":604}
        {"index":{"_index":"books"}}
        {"name":"Dune Messiah","author":"Frank Herbert","release_date":"1969-10-15","page_count":331}
        {"index":{"_index":"books"}}
        {"name":"Children of Dune","author":"Frank Herb[...]
- request:
    method: post
    uri: https://my-deployment.elastic.co/books/_search?q=dune
    body:
      encoding: UTF-8
      string: '{"fields":[{"field":"name"}]}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - iEwn49IaR0my0ho07AytBQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-search-6f4cfbc7c5-tj4rf
    body:
      encoding: UTF-8
      string: '{"took":30,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":4,"relation":"eq"},"max_score":2.5851798,"hits":[{"_index":"books","_id":"gbovaYoBUqUndw8VHT2u","_score":2.5851798,"_source":{"name":"Dune","author":"Frank
        Herbert","release_date":"1965-06-01","page_count":604},"fields":{"name":["Dune"]}},{"_index":"books","_id":"grovaYoBUqUndw8VHT2u","_score":2.1637359,"_source":{"name":"Dune
        Messiah","author":"Frank Herbert","release_date":"1969-10-15","page_count":331},"fields":{"name":["Dune
        Messiah"]}},{"_index":"books","_id":"g7ovaYoBUqUndw8VHT2u","_score":1.860441,"_source":{"name":"Children
        of Dune","author":"Frank Herbert","release_date":"1976-04-21","page_count":408},"fields":{"name":["Children
        of Dune"]}},{"_index":"books","_id":"hLovaYoBUqUndw8VHT2u","_score":1.6317198,"_source":{"name":"God
        Emperor of Dune","author":"Frank Herbert","release_date":"1981-05-28","page_count":454},"fields":{"name":["God
        Emperor of Dune"]}}]}}'
  recorded_at: Wed, 06 Sep 2023 06:30:24 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/books/_search
    body:
      encoding: UTF-8
      string: '{"size":15}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - es=8.8.0,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - w38G9PBhRWqRoHWqnNUJew
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - [...]
