---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/aliases_index/_aliases/my_alias
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - gdtOZ-gsRW-9WLM8OVWF0g
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-lgdmc
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Tue, 12 Sep 2023 14:15:32 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_alias/my_alias
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 5DuYx0_BTuWN3HVQBZtmdQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-87b8c7b5c-8z5tc
    body:
      encoding: UTF-8
      string: '{"aliases_index":{"aliases":{"my_alias":{}}}}'
  recorded_at: Tue, 12 Sep 2023 14:15:32 GMT
[...]
- request:
    method: post
    uri: https://my-deployment.elastic.co/_aliases
    body:
      encoding: UTF-8
      string: '{"actions":[{"add":{"index":"aliases_index2","alias":"my_alias"}}]}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 4L5NDapuSKC27b0OLOjn3A
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-2ddqb
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Tue, 12 Sep 2023 14:15:33 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/*/_aliases/my_alias
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - DqaBdA4rSMaNswnuyhjo5A
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-lgdmc
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Tue, 12 Sep 2023 14:15:33 GMT
recorded_with: VCR 6.2.0
