---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/async_search_test/_async_search?q=julio&wait_for_completion_timeout=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - IqKWLLzXSfiaV0S_ylGhvw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-index-69d649d494-865bs
    body:
      encoding: UTF-8
      string: '{"id":"Fk1GdlVRV0JqU215R2NramE5UXNTcHcdUl85SVhiY1pRTjZ4MUJ6QmpVVnhsdzoyNDUxMjc=","is_partial":true,"is_running":true,"start_time_in_millis":1692961753629,"expiration_time_in_millis":1693393753629,"response":{"took":0,"timed_out":false,"terminated_early":false,"num_reduce_phases":0,"_shards":{"total":1,"successful":0,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"gte"},"max_score":null,"hits":[]}}}'
  recorded_at: Fri, 25 Aug 2023 11:09:13 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_async_search/Fk1GdlVRV0JqU215R2NramE5UXNTcHcdUl85SVhiY1pRTjZ4MUJ6QmpVVnhsdzoyNDUxMjc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - hRYlmAkQQ82tGbc5tWx37w
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-search-765fc8f58c-cp6d4
    body:
      encoding: UTF-8
      string: '{"id":"Fk1GdlVRV0JqU215R2NramE5UXNTcHcdUl85SVhiY1pRTjZ4MUJ6QmpVVnhsdzoyNDUxMjc=","is_partial":false,"is_running":false,"start_time_in_millis":1692961753629,"expiration_time_in_millis":1693393753629,"completion_time_in_millis":1692961753632,"response":{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":1.0417082,"hits":[{"_index":"async_search_test","_id":"44","_score":1.0417082,"_source":{"name":"Bestiario","author":"Julio
        Cortazar","release_date":"1952-10-12","page_count":133}}]}}}'
  recorded_at: Fri, 25 Aug 2023 11:09:14 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_async_search/status/Fk1GdlVRV0JqU215R2NramE5UXNTcHcdUl85SVhiY1pRTjZ4MUJ6QmpVVnhsdzoyNDUxMjc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - niy_XEt2SyGvd_xCd3t8mg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-search-765fc8f58c-cp6d4
    body:
      encoding: UTF-8
      string: '{"id":"Fk1GdlVRV0JqU215R2NramE5UXNTcHcdUl85SVhiY1pRTjZ4MUJ6QmpVVnhsdzoyNDUxMjc=","is_running":false,"is_partial":false,"start_time_in_millis":1692961753629,"expiration_time_in_millis":1693393753629,"completion_time_in_millis":1692961753632,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"completion_status":200}'
  recorded_at: Fri, 25 Aug 2023 11:09:14 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/_async_search/Fk1GdlVRV0JqU215R2NramE5UXNTcHcdUl85SVhiY1pRTjZ4MUJ6QmpVVnhsdzoyNDUxMjc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - bYPjkFbyTxG5_uX9Jb9MMw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-index-69d649d494-865bs
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Fri, 25 Aug 2023 11:09:14 GMT
recorded_with: VCR 6.2.0
