---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/_bulk?refresh=true
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"async_search_test","_id":"42"}}
        {"name":"Las lenguas de diamante","author":"Juana de Ibarbourou","release_date":"1918-12-01","page_count":108}
        {"index":{"_index":"async_search_test","_id":"44"}}
        {"name":"Bestiario","author":"Julio Cortazar","release_date":"1952-10-12","page_count":133}
        {"index":{"_index":"async_search_test","_id":"43"}}
        {"name":"Tales of love, madness and death","author":"Horacio Quiroga","release_date":"1917-12-01","page_count":188}
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 25yaaLMlQ82-zeZ6M1FQBQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-index-69d649d494-865bs
    body:
      encoding: UTF-8
      string: '{"errors":false,"took":1049,"items":[{"index":{"_index":"async_search_test","_id":"42","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1,"status":201}},{"index":{"_index":"async_search_test","_id":"44","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1,"status":201}},{"index":{"_index":"async_search_test","_id":"43","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1,"status":201}}]}'
  recorded_at: Fri, 25 Aug 2023 11:09:13 GMT
recorded_with: VCR 6.2.0
