---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/_security/_authenticate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - SX3BxnGISpCQ9GbUk5ji8w
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-87b8c7b5c-8z5tc
    body:
      encoding: UTF-8
      string: '{"username":"123","roles":[],"full_name":"Fernando Briano","email":null,"metadata":{"saml_email":[""],"saml_nameid_format":"urn:oasis:names:tc:SAML:2.0:nameid-format:transient","saml(http://saml.elastic-cloud.com/attributes/principal)":[""],"saml_roles":["developer","viewer","admin"],"saml_nameid":"","saml_principal":[""],"saml(http://saml.elastic-cloud.com/attributes/email)":[""],"saml(http://saml.elastic-cloud.com/attributes/name)":["Fernando
        Briano"],"saml(http://saml.elastic-cloud.com/attributes/roles)":["developer","viewer","admin"],"saml_name":["Fernando
        Briano"]},"enabled":true,"authentication_realm":{"name":"_es_api_key","type":"_es_api_key"},"lookup_realm":{"name":"_es_api_key","type":"_es_api_key"},"authentication_type":"api_key","api_key":{"id":"","name":"Test"}}'
  recorded_at: Tue, 12 Sep 2023 06:53:46 GMT
recorded_with: VCR 6.2.0
