---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/_info/ingest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - ETOZxBf3Sxu0HhnCUsCFwA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-f4658647d-xh4hm
    body:
      encoding: UTF-8
      string: '{"cluster_name":"es","ingest":{"total":{"count":0,"time_in_millis":0,"current":0,"failed":0},"pipelines":{"ent-search-generic-ingestion":{"count":0,"time_in_millis":0,"current":0,"failed":0,"processors":[{"attachment":{"type":"attachment","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"set:set_body":{"type":"set","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"gsub:remove_replacement_chars":{"type":"gsub","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"gsub:remove_extra_whitespace":{"type":"gsub","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"trim":{"type":"trim","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"remove:remove_meta_fields":{"type":"remove","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}}]},"behavioral_analytics-events-final_pipeline":{"count":0,"time_in_millis":0,"current":0,"failed":0,"processors":[{"set":{"type":"set","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"uri_parts":{"type":"uri_parts","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"uri_parts":{"type":"uri_parts","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"foreach":{"type":"foreach","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"user_agent":{"type":"user_agent","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"rename":{"type":"rename","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"rename":{"type":"rename","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"geoip":{"type":"geoip","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"remove":{"type":"remove","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}}]},"logs@json-message":{"count":0,"time_in_millis":0,"current":0,"failed":0,"processors":[{"rename":{"type":"rename","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"json":{"type":"json","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"dot_expander":{"type":"dot_expander","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"remove":{"type":"remove","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}}]},"logs-default-pipeline":{"count":0,"time_in_millis":0,"current":0,"failed":0,"processors":[{"set":{"type":"set","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}},{"pipeline:logs@custom":{"type":"pipeline","stats":{"count":0,"time_in_millis":0,"current":0,"failed":0}}}]}}}}'
  recorded_at: Wed, 13 Sep 2023 14:09:25 GMT
recorded_with: VCR 6.2.0
