---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_component_template/test_component_template
    body:
      encoding: UTF-8
      string: '{"template":{"mappings":{"_source":{"enabled":false},"properties":{"host_name":{"type":"keyword"},"created_at":{"type":"date","format":"EEE
        MMM dd HH:mm:ss Z yyyy"}}}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - FdK4nzDEQsCKBVMirY7cjA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-78bdc6c48-n9v2r
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Wed, 13 Sep 2023 14:58:04 GMT
[...]
- request:
    method: head
    uri: https://my-deployment.elastic.co/_component_template/testing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 2HgdVLNBRIGNN8ZnZ098yQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-55ff9cdcf6-7p45m
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Sep 2023 14:58:05 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_component_template/test_component_template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 1w-f122JTUmlANAjugmEJA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-55ff9cdcf6-7p45m
    body:
      encoding: UTF-8
      string: '{"component_templates":[{"name":"test_component_template","component_template":{"template":{"mappings":{"_source":{"enabled":false},"properties":{"created_at":{"format":"EEE
        MMM dd HH:mm:ss Z yyyy","type":"date"},"host_name":{"type":"keyword"}}}}}}]}'
  recorded_at: Wed, 13 Sep 2023 14:58:05 GMT
[...]
- request:
    method: put
    uri: https://my-deployment.elastic.co/_component_template/put_component_template
    body:
      encoding: UTF-8
      string: '{"template":{"mappings":{"_source":{"enabled":false},"properties":{"host_name":{"type":"keyword"},"created_at":{"type":"date","format":"EEE
        MMM dd HH:mm:ss Z yyyy"}}}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - fsbZiNj7Skay1fAnzkfgaA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-78bdc6c48-n9v2r
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Wed, 13 Sep 2023 14:58:06 GMT
recorded_with: VCR 6.2.0
