---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_component_template/test_component_template
    body:
      encoding: UTF-8
      string: '{"template":{"mappings":{"_source":{"enabled":false},"properties":{"host_name":{"type":"keyword"},"created_at":{"type":"date","format":"EEE
        MMM dd HH:mm:ss Z yyyy"}}}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - T4DcjeL0RbOs5PKACG2wvQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-78bdc6c48-bg8nv
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Wed, 13 Sep 2023 14:54:41 GMT
[...]
- request:
    method: head
    uri: https://my-deployment.elastic.co/_component_template/testing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 6kZOOSGuRbuNUXcoWNwLMw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-f4658647d-c2fcl
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Sep 2023 14:54:41 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_component_template/test_component_template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - v6CZD2rbTVCWuPihLVIpKQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-f4658647d-xh4hm
    body:
      encoding: UTF-8
      string: '{"component_templates":[{"name":"test_component_template","component_template":{"template":{"mappings":{"_source":{"enabled":false},"properties":{"created_at":{"format":"EEE
        MMM dd HH:mm:ss Z yyyy","type":"date"},"host_name":{"type":"keyword"}}}}}}]}'
  recorded_at: Wed, 13 Sep 2023 14:54:42 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/_component_template/test_component_template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - ZNSHlvi4RP25v4BqSN08fA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-78bdc6c48-bg8nv
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Wed, 13 Sep 2023 14:54:42 GMT
recorded_with: VCR 6.2.0
