---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/count_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.4p,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - 7EzWOqsURS2Y-2Q-WSUVOQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f852e9816ac44563a88d0edaa9e4d236.es
      x-found-handling-instance:
      - es-es-index-f5d9867bf-sk8zb
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"count_index"}'
  recorded_at: Fri, 04 Aug 2023 16:05:11 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/count_index/_doc?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"garbanzo"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.4p,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      location:
      - "/count_index/_doc/zcRLwYkBc5ciY6bNtgWn"
      x-cloud-request-id:
      - 3Kw-im1KRz-nd37XUupubw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f852e9816ac44563a88d0edaa9e4d236.es
      x-found-handling-instance:
      - es-es-index-f5d9867bf-sk8zb
    body:
      encoding: UTF-8
      string: '{"_index":"count_index","_id":"zcRLwYkBc5ciY6bNtgWn","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Fri, 04 Aug 2023 16:05:12 GMT
recorded_with: VCR 6.1.0
