---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/count_index/_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.4p,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - HXAkry1dTM2XSY7xHozpLA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f852e9816ac44563a88d0edaa9e4d236.es
      x-found-handling-instance:
      - es-es-search-76d7bbbcfc-pt6ng
    body:
      encoding: UTF-8
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
  recorded_at: Fri, 04 Aug 2023 16:05:12 GMT
recorded_with: VCR 6.1.0
