---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_security/api_key?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"test_api_key","role_descriptors":{"test_role":{"cluster":[],"indices":[]}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - BeVYpGPRTk2nQFav3GqoZA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-lgdmc
    body:
      encoding: UTF-8
      string: '{"id":"-KA4iIoB2tNaNoqbFmGk","name":"test_api_key","api_key":"WVmDFNWqRcS679MEj6Pd8g","encoded":"LUtBNGlJb0IydE5hTm9xYkZtR2s6V1ZtREZOV3FSY1M2NzlNRWo2UGQ4Zw=="}'
  recorded_at: Tue, 12 Sep 2023 07:08:12 GMT
recorded_with: VCR 6.2.0
