---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/create/_doc/42?op_type=create
    body:
      encoding: UTF-8
      string: '{"name":"testing create"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      location:
      - "/create/_doc/42"
      x-cloud-request-id:
      - _vpzNPa2T0SirnDO-AuO-Q
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - a01fd1ee3ffb466da479539070462062
      x-found-handling-instance:
      - instance-0000000001
    body:
      encoding: ASCII-8BIT
      string: '{"_index":"create","_id":"42","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Fri, 11 Aug 2023 13:41:55 GMT
recorded_with: VCR 6.2.0
