---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/delete_by_query_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 2XPAwyU1R3eF-OIa3N-JvA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-2ddqb
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"delete_by_query_index"}'
  recorded_at: Tue, 12 Sep 2023 13:12:23 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/delete_by_query_index/_doc?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"user","age":29}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/delete_by_query_index/_doc/nlqFiYoB3LyBeQ-hh0FE"
      x-cloud-request-id:
      - AJEpvXljROuJVoLW7cNDPA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-2ddqb
    body:
      encoding: UTF-8
      string: '{"_index":"delete_by_query_index","_id":"nlqFiYoB3LyBeQ-hh0FE","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Tue, 12 Sep 2023 13:12:24 GMT
recorded_with: VCR 6.2.0
