---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_enrich/policy/policy-crud
    body:
      encoding: UTF-8
      string: '{"match":{"indices":["enrich*"],"match_field":"baz","enrich_fields":["a","b"]}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - "-oV2ZJWXQoucFs_oqRv2iw"
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Wed, 04 Oct 2023 14:51:40 GMT
- request:
    method: put
    uri: https://my-deployment.elastic.co/_enrich/policy/policy-crud/_execute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - JmpL_7mnToS_5unavHtNBA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-q6rbh
    body:
      encoding: UTF-8
      string: '{"status":{"phase":"COMPLETE"}}'
  recorded_at: Wed, 04 Oct 2023 14:52:11 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_enrich/policy/policy-crud
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 9pm2oeMSTMO5vQladCcRNg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-864db867ff-gd9mm
    body:
      encoding: UTF-8
      string: '{"policies":[{"config":{"match":{"name":"policy-crud","indices":["enrich*"],"match_field":"baz","enrich_fields":["a","b"]}}}]}'
  recorded_at: Wed, 04 Oct 2023 14:52:11 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_enrich/_stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - EsQZJag7QdiR3nm0UDdCvQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-864db867ff-rbjxj
    body:
      encoding: UTF-8
      string: '{"executing_policies":[],"coordinator_stats":[{"node_id":"serverless","queue_size":0,"remote_requests_current":0,"remote_requests_total":0,"executed_searches_total":0}],"cache_stats":[{"node_id":"serverless","count":0,"hits":0,"misses":0,"evictions":0}]}'
  recorded_at: Wed, 04 Oct 2023 14:52:12 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/_enrich/policy/policy-crud
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - ckGck8HKRW2DVMjJ1telIw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-q6rbh
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Wed, 04 Oct 2023 14:52:12 GMT
recorded_with: VCR 6.2.0
