---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/exists_source/_doc?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"testing"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/exists_source/_doc/rhxrdYoBaFGt0gNFF_IG"
      x-cloud-request-id:
      - Bi63YUG5T7eYRXCcHJIH7A
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-index-7fc6cfb9f9-5hm8s
    body:
      encoding: UTF-8
      string: '{"_index":"exists_source","_id":"rhxrdYoBaFGt0gNFF_IG","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Fri, 08 Sep 2023 15:31:07 GMT
recorded_with: VCR 6.2.0
