---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/explain_index/_doc?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"garbanzo"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/explain_index/_doc/_7jS74oBYjuDDX0G9jip"
      x-cloud-request-id:
      - PbontUPjTfa39Tgi6xgfHg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-977c8bd4b-2287z
    body:
      encoding: UTF-8
      string: '{"_index":"explain_index","_id":"_7jS74oBYjuDDX0G9jip","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Mon, 02 Oct 2023 09:58:15 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/explain_index/_explain/_7jS74oBYjuDDX0G9jip
    body:
      encoding: UTF-8
      string: '{"query":{"match":{"name":"garbanzo"}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - HrfeMeIQSPimI3JkzTzyxA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-977c8bd4b-2287z
    body:
      encoding: UTF-8
      string: '{"_index":"explain_index","_id":"_7jS74oBYjuDDX0G9jip","matched":true,"explanation":{"value":0.2876821,"description":"weight(name:garbanzo
        in 0) [PerFieldSimilarity], result of:","details":[{"value":0.2876821,"description":"score(freq=1.0),
        computed as boost * idf * tf from:","details":[{"value":2.2,"description":"boost","details":[]},{"value":0.2876821,"description":"idf,
        computed as log(1 + (N - n + 0.5) / (n + 0.5)) from:","details":[{"value":1,"description":"n,
        number of documents containing term","details":[]},{"value":1,"description":"N,
        total number of documents with field","details":[]}]},{"value":0.45454544,"description":"tf,
        computed as freq / (freq + k1 * (1 - b + b * dl / avgdl)) from:","details":[{"value":1.0,"description":"freq,
        occurrences of term within document","details":[]},{"value":1.2,"description":"k1,
        term saturation parameter","details":[]},{"value":0.75,"description":"b, length
        normalization parameter","details":[]},{"value":1.0,"description":"dl, length
        of field","details":[]},{"value":1.0,"description":"avgdl, average length
        of field","details":[]}]}]}]}}'
  recorded_at: Mon, 02 Oct 2023 09:58:15 GMT
recorded_with: VCR 6.2.0
