---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/field_caps/_field_caps?fields=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - gN0TLTAWQgKuynjgN38khA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-864db867ff-rbjxj
    body:
      encoding: UTF-8
      string: '{"indices":["field_caps"],"fields":{"text":{"text":{"type":"text","metadata_field":false,"searchable":true,"aggregatable":false}}}}'
  recorded_at: Wed, 04 Oct 2023 14:43:34 GMT
recorded_with: VCR 6.2.0
