---
http_interactions:
- request:
    method: delete
    uri: https://my-deployment.elastic.co/not_existent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - gnjpSI7sSjqDFgSD9xJSTQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - f58ec1d678504dbe8384aa5bcf132797.es
      x-found-handling-instance:
      - es-es-index-75fcf4ccb5-q47jd
    body:
      encoding: UTF-8
      string: '{"error":{"root_cause":[{"type":"index_not_found_exception","reason":"no
        such index [not_existent]","index_uuid":"_na_","resource.type":"index_or_alias","resource.id":"not_existent","index":"not_existent"}],"type":"index_not_found_exception","reason":"no
        such index [not_existent]","index_uuid":"_na_","resource.type":"index_or_alias","resource.id":"not_existent","index":"not_existent"},"status":404}'
  recorded_at: Thu, 07 Sep 2023 14:44:37 GMT
recorded_with: VCR 6.2.0
