---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/index-to-refresh/_refresh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - _2M5gqOETpq5NuaVNSoomg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-86fd7559d-9gc2m
    body:
      encoding: UTF-8
      string: '{"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Fri, 22 Sep 2023 13:36:27 GMT
recorded_with: VCR 6.2.0
