---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/aliases/_aliases/my_alias
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - J5wm7IGIT-2ONkMGKb7Mhg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-lgdmc
    body:
      encoding: UTF-8
      string: '{"error":{"root_cause":[{"type":"index_not_found_exception","reason":"no
        such index [aliases]","index_uuid":"_na_","resource.type":"index_or_alias","resource.id":"aliases","index":"aliases"}],"type":"index_not_found_exception","reason":"no
        such index [aliases]","index_uuid":"_na_","resource.type":"index_or_alias","resource.id":"aliases","index":"aliases"},"status":404}'
  recorded_at: Tue, 12 Sep 2023 13:52:10 GMT
recorded_with: VCR 6.2.0
