---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/index-to-get
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - EjP9Yvg2TVSbAyq0D6Zx8g
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - e9f9883f2f084d6b9c3aa53d8e3431fe.es
      x-found-handling-instance:
      - es-es-search-6bb6489b9-gcjhr
    body:
      encoding: UTF-8
      string: '{"index-to-get":{"aliases":{},"mappings":{},"settings":{"index":{"routing":{"allocation":{"include":{"_tier_preference":"data_content"}}},"allocation":{"existing_shards_allocator":"stateless"},"number_of_shards":"1","provided_name":"index-to-get","creation_date":"1689847890759","number_of_replicas":"1","uuid":"36Lx6mVjTW-u4GHwuwZvQQ","version":{"created":"8100099"}}}}}'
  recorded_at: Thu, 20 Jul 2023 10:11:32 GMT
recorded_with: VCR 6.1.0
