---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - w7s1g6dlSouei7XHtj1N9g
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - 1c6af1bf93c54c91b4c180a85af75756
      x-found-handling-instance:
      - instance-0000000001
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "name" : "instance-0000000001",
          "cluster_name" : "1c6af1bf93c54c91b4c180a85af75756",
          "cluster_uuid" : "6sokXJlSSMeQgeoQspPJFA",
          "version" : {
            "number" : "8.8.0-SNAPSHOT",
            "build_flavor" : "default",
            "build_type" : "docker",
            "build_hash" : "b325aabf845ecee297ab34a285f5a5c3bdc70faf",
            "build_date" : "2023-04-14T19:39:51.389129622Z",
            "build_snapshot" : true,
            "lucene_version" : "9.6.0",
            "minimum_wire_compatibility_version" : "7.17.0",
            "minimum_index_compatibility_version" : "7.0.0"
          },
          "tagline" : "You Know, for Search"
        }
  recorded_at: Mon, 17 Apr 2023 14:16:11 GMT
recorded_with: VCR 6.1.0
