---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/_license
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 5cwwOiQTQKyhNklzWyjcOg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-864db867ff-rbjxj
    body:
      encoding: UTF-8
      string: |
        {
          "license" : {
            "status" : "active",
            "uid" : "d85d2c6a-b96d-3cc6-96db-5571a789b156",
            "type" : "enterprise",
            "issue_date" : "1970-01-01T00:00:00.000Z",
            "issue_date_in_millis" : 0,
            "expiry_date" : "2100-01-01T00:00:00.000Z",
            "expiry_date_in_millis" : 4102444800000,
            "max_nodes" : null,
            "max_resource_units" : 100000,
            "issued_to" : "Elastic Serverless",
            "issuer" : "Elastic",
            "start_date_in_millis" : 0
          }
        }
  recorded_at: Wed, 04 Oct 2023 13:59:01 GMT
recorded_with: VCR 6.2.0
