---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_logstash/pipeline/logstash_test_pipeline
    body:
      encoding: UTF-8
      string: '{"description":"Sample pipeline for illustration purposes","last_modified":"2021-01-02T02:50:51.250Z","pipeline_metadata":{"type":"logstash_pipeline","version":"1"},"username":"elastic","pipeline":"input
        {}\\n filter { grok {} }\\n output {}","pipeline_settings":{"pipeline.workers":1,"pipeline.batch.size":125,"pipeline.batch.delay":50,"queue.type":"memory","queue.max_bytes":"1gb","queue.checkpoint.writes":1024}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json;charset=utf-8
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - bvaaVRuqQryNcJzSh2Wj5Q
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-86fd7559d-9gc2m
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Sep 2023 13:19:04 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_logstash/pipeline/logstash_test_pipeline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - Yu78MMp-QyenrP_mS6MLSw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-6f4bc9c4b4-d695x
    body:
      encoding: UTF-8
      string: '{"logstash_test_pipeline":{"description":"Sample pipeline for illustration
        purposes","last_modified":"2021-01-02T02:50:51.250Z","pipeline_metadata":{"type":"logstash_pipeline","version":"1"},"username":"elastic","pipeline":"input
        {}\\n filter { grok {} }\\n output {}","pipeline_settings":{"pipeline.workers":1,"pipeline.batch.size":125,"pipeline.batch.delay":50,"queue.type":"memory","queue.max_bytes":"1gb","queue.checkpoint.writes":1024}}}'
  recorded_at: Fri, 22 Sep 2023 13:19:04 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/_logstash/pipeline/logstash_test_pipeline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - Hg9AcWN2S5aC_nLSCAY6MQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-86fd7559d-cmlp6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Sep 2023 13:19:10 GMT
recorded_with: VCR 6.2.0
