---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/_mget
    body:
      encoding: UTF-8
      string: '{"docs":[{"_index":"mget_test","_id":"42"},{"_index":"mget_test","_id":"43"}]}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - vGJzEE1tQpWFRLwVddM7jA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-index-69d649d494-x45h2
    body:
      encoding: UTF-8
      string: '{"docs":[{"_index":"mget_test","_id":"42","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"name":"Las
        lenguas de diamante","author":"Juana de Ibarbourou","release_date":"1918-12-01","page_count":108}},{"_index":"mget_test","_id":"43","_version":1,"_seq_no":2,"_primary_term":1,"found":true,"_source":{"name":"Tales
        of love, madness and death","author":"Horacio Quiroga","release_date":"1917-12-01","page_count":188}}]}'
  recorded_at: Fri, 25 Aug 2023 11:16:04 GMT
recorded_with: VCR 6.2.0
