---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/msearch_test/_msearch
    body:
      encoding: UTF-8
      string: |
        {}
        {"query":{"match":{"name":"Bestiario"}}}
        {}
        {"query":{"match_all":{}}}
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - TeJyOKchSJKsDPdOBdAdOQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-index-69d649d494-865bs
    body:
      encoding: UTF-8
      string: '{"took":3,"responses":[{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":1.3962393,"hits":[{"_index":"msearch_test","_id":"44","_score":1.3962393,"_source":{"name":"Bestiario","author":"Julio
        Cortazar","release_date":"1952-10-12","page_count":133}}]},"status":200},{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"msearch_test","_id":"42","_score":1.0,"_source":{"name":"Las
        lenguas de diamante","author":"Juana de Ibarbourou","release_date":"1918-12-01","page_count":108}},{"_index":"msearch_test","_id":"44","_score":1.0,"_source":{"name":"Bestiario","author":"Julio
        Cortazar","release_date":"1952-10-12","page_count":133}},{"_index":"msearch_test","_id":"43","_score":1.0,"_source":{"name":"Tales
        of love, madness and death","author":"Horacio Quiroga","release_date":"1917-12-01","page_count":188}}]},"status":200}]}'
  recorded_at: Fri, 25 Aug 2023 07:08:49 GMT
recorded_with: VCR 6.2.0
