---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/_mtermvectors?term_statistics=true
    body:
      encoding: UTF-8
      string: '{"docs":[{"_index":"mtermvectors","_id":"testing_document"}]}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - obXDu8TJTKujb0sV4HCBPw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"docs":[{"_index":"mtermvectors","_id":"testing_document","_version":1,"found":true,"took":39,"term_vectors":{"text":{"field_statistics":{"sum_doc_freq":5,"doc_count":1,"sum_ttf":6},"terms":{"brown":{"doc_freq":1,"ttf":2,"term_freq":2,"tokens":[{"position":2,"start_offset":10,"end_offset":15},{"position":5,"start_offset":23,"end_offset":28}]},"fox":{"doc_freq":1,"ttf":1,"term_freq":1,"tokens":[{"position":3,"start_offset":16,"end_offset":19}]},"is":{"doc_freq":1,"ttf":1,"term_freq":1,"tokens":[{"position":4,"start_offset":20,"end_offset":22}]},"quick":{"doc_freq":1,"ttf":1,"term_freq":1,"tokens":[{"position":1,"start_offset":4,"end_offset":9}]},"the":{"doc_freq":1,"ttf":1,"term_freq":1,"tokens":[{"position":0,"start_offset":0,"end_offset":3}]}}}}}]}'
  recorded_at: Wed, 04 Oct 2023 14:09:38 GMT
recorded_with: VCR 6.2.0
