---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/mtermvectors
    body:
      encoding: UTF-8
      string: '{"mappings":{"properties":{"text":{"type":"text","term_vector":"with_positions_offsets"}}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - eIN02CXYT326n72frLiEAQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-q6rbh
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"mtermvectors"}'
  recorded_at: Wed, 04 Oct 2023 14:09:38 GMT
- request:
    method: put
    uri: https://my-deployment.elastic.co/mtermvectors/_doc/testing_document
    body:
      encoding: UTF-8
      string: '{"text":"The quick brown fox is brown."}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/mtermvectors/_doc/testing_document"
      x-cloud-request-id:
      - uTLdk3v5T_WHY2SqXAgHQA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-q6rbh
    body:
      encoding: UTF-8
      string: '{"_index":"mtermvectors","_id":"testing_document","_version":1,"result":"created","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Wed, 04 Oct 2023 14:09:38 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/_refresh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 7JxWfaizSWS1jaJzbxanKQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-q6rbh
    body:
      encoding: UTF-8
      string: '{"_shards":{"total":2,"successful":2,"failed":0}}'
  recorded_at: Wed, 04 Oct 2023 14:09:38 GMT
recorded_with: VCR 6.2.0
