---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/_scripts/painless/_execute
    body:
      encoding: UTF-8
      string: '{"script":{"source":"params.count / params.total","params":{"count":100.0,"total":1000.0}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - wZW-QJKUSaayO6t_iXt-Rw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-977c8bd4b-tk46t
    body:
      encoding: UTF-8
      string: '{"result":"0.1"}'
  recorded_at: Mon, 02 Oct 2023 13:08:13 GMT
recorded_with: VCR 6.2.0
