---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/script_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - IEkrsSXDRxaXxTJ85FHRQQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-977c8bd4b-2287z
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"script_index"}'
  recorded_at: Mon, 02 Oct 2023 12:58:29 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/script_index/_doc?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"test"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/script_index/_doc/ImZ38IoBqljpDEw8_GOU"
      x-cloud-request-id:
      - DnT5iM79Q6WBQLWph0PV3g
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-977c8bd4b-tk46t
    body:
      encoding: UTF-8
      string: '{"_index":"script_index","_id":"ImZ38IoBqljpDEw8_GOU","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Mon, 02 Oct 2023 12:58:29 GMT
recorded_with: VCR 6.2.0
