---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_scripts/my-script
    body:
      encoding: UTF-8
      string: '{"script":{"lang":"painless","source":"Math.log(_score * 2)"}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - TlTSGwTlSweguwEZwdzeDA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-977c8bd4b-tk46t
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Mon, 02 Oct 2023 12:58:30 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_scripts/my-script
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - n5uCNaA5TaqHnNqlxRH4Tw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-6bf84d66d8-tlgng
    body:
      encoding: UTF-8
      string: '{"_id":"my-script","found":true,"script":{"lang":"painless","source":"Math.log(_score
        * 2)"}}'
  recorded_at: Mon, 02 Oct 2023 12:58:30 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/_scripts/my-script
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 0SrtoXHVTjaFRsf9cmpx4Q
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-977c8bd4b-tk46t
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Mon, 02 Oct 2023 12:58:31 GMT
recorded_with: VCR 6.2.0
