---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/_bulk?refresh=true
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"search_test","_id":"42"}}
        {"name":"The Hitchhiker's Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}
        {"index":{"_index":"search_test","_id":"43"}}
        {"name":"Snow Crash","author":"Neal Stephenson","release_date":"1992-06-01","page_count":470}
        {"index":{"_index":"search_test","_id":"44"}}
        {"name":"Starship Troopers","author":"Robert A. Heinlein","release_date":"1959-12-01","page_count":335}
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - kQLNbmaHSum93NbEav3rpQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-index-69d649d494-865bs
    body:
      encoding: UTF-8
      string: '{"errors":false,"took":824,"items":[{"index":{"_index":"search_test","_id":"42","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1,"status":201}},{"index":{"_index":"search_test","_id":"43","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1,"status":201}},{"index":{"_index":"search_test","_id":"44","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1,"status":201}}]}'
  recorded_at: Fri, 25 Aug 2023 07:52:45 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/search_test/_search?q=snow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - A9drFp4hRrGh6lB-_pkLhg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - af19d18db3ef440090bb7dd995807259.es
      x-found-handling-instance:
      - es-es-search-765fc8f58c-cp6d4
    body:
      encoding: UTF-8
      string: '{"took":7,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":1.1727304,"hits":[{"_index":"search_test","_id":"43","_score":1.1727304,"_source":{"name":"Snow
        Crash","author":"Neal Stephenson","release_date":"1992-06-01","page_count":470}}]}}'
  recorded_at: Fri, 25 Aug 2023 07:52:45 GMT
recorded_with: VCR 6.2.0
