---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_security/api_key?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"test_api_key","role_descriptors":{"test_role":{"cluster":[],"indices":[]}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 4oLUaGoARpuZQW7o8ueRIQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-lgdmc
    body:
      encoding: UTF-8
      string: '{"id":"DKC7iIoB2tNaNoqbEmI2","name":"test_api_key","api_key":"foQdxBRNQWSnzWP1MrBoug","encoded":"REtDN2lJb0IydE5hTm9xYkVtSTI6Zm9RZHhCUk5RV1NueldQMU1yQm91Zw=="}'
  recorded_at: Tue, 12 Sep 2023 09:31:16 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_security/api_key?id=DKC7iIoB2tNaNoqbEmI2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - LkivXL-nRLmSb-8fhR1kRg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-search-87b8c7b5c-v67k9
    body:
      encoding: UTF-8
      string: '{"api_keys":[{"id":"DKC7iIoB2tNaNoqbEmI2","name":"test_api_key","type":"rest","creation":1694511075895,"invalidated":false,"username":"3938141951","realm":"_es_api_key","metadata":{},"role_descriptors":{"test_role":{"cluster":[],"indices":[],"applications":[],"run_as":[],"metadata":{},"transient_metadata":{"enabled":true}}}}]}'
  recorded_at: Tue, 12 Sep 2023 09:31:17 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/_security/_query/api_key
    body:
      encoding: UTF-8
      string: '{"query":{"ids":{"values":["DKC7iIoB2tNaNoqbEmI2"]}}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - z50w4Q-hQYOQ3TIh-UcJYQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-2ddqb
    body:
      encoding: UTF-8
      string: '{"total":1,"count":1,"api_keys":[{"id":"DKC7iIoB2tNaNoqbEmI2","name":"test_api_key","type":"rest","creation":1694511075895,"invalidated":false,"username":"3938141951","realm":"_es_api_key","metadata":{},"role_descriptors":{"test_role":{"cluster":[],"indices":[],"applications":[],"run_as":[],"metadata":{},"transient_metadata":{"enabled":true}}}}]}'
  recorded_at: Tue, 12 Sep 2023 09:31:17 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/_security/api_key
    body:
      encoding: UTF-8
      string: '{"ids":["DKC7iIoB2tNaNoqbEmI2"]}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 014V0muLS7inWkbQDtWmmQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-lgdmc
    body:
      encoding: UTF-8
      string: '{"invalidated_api_keys":["DKC7iIoB2tNaNoqbEmI2"],"previously_invalidated_api_keys":[],"error_count":0}'
  recorded_at: Tue, 12 Sep 2023 09:31:17 GMT
recorded_with: VCR 6.2.0
