---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/sql_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - lL58nf3ORhiANTKBVrJbiQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-68cddf67bb-j2p5f
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"sql_index"}'
  recorded_at: Mon, 02 Oct 2023 15:15:51 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/_bulk?refresh=true
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"sql_index","_id":"42"}}
        {"name":"The Hitchhiker's Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}
        {"index":{"_index":"sql_index","_id":"43"}}
        {"name":"Snow Crash","author":"Neal Stephenson","release_date":"1992-06-01","page_count":470}
        {"index":{"_index":"sql_index","_id":"44"}}
        {"name":"Starship Troopers","author":"Robert A. Heinlein","release_date":"1959-12-01","page_count":335}
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - jluoqZUATumoX6OVUmHdZw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-68cddf67bb-848sd
    body:
      encoding: UTF-8
      string: '{"errors":false,"took":251,"items":[{"index":{"_index":"sql_index","_id":"42","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1,"status":201}},{"index":{"_index":"sql_index","_id":"43","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1,"status":201}},{"index":{"_index":"sql_index","_id":"44","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1,"status":201}}]}'
  recorded_at: Mon, 02 Oct 2023 15:15:52 GMT
recorded_with: VCR 6.2.0
