---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/synonyms_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - p3mgZoeWR7uw3aoALHul-w
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"synonyms_index"}'
  recorded_at: Wed, 04 Oct 2023 12:39:56 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/synonyms_index/_doc?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"house"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/synonyms_index/_doc/61Oz-ooBE8e1xszwts3H"
      x-cloud-request-id:
      - amC_LeNbQ06hz_4qiYAuCg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"_index":"synonyms_index","_id":"61Oz-ooBE8e1xszwts3H","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Wed, 04 Oct 2023 12:39:56 GMT
recorded_with: VCR 6.2.0
