---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/_synonyms/id
    body:
      encoding: UTF-8
      string: '{"synonyms_set":[{"synonyms":"house, home"}]}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - GsyG6NLhQ_CP-Gh30kagAw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-q6rbh
    body:
      encoding: UTF-8
      string: '{"result":"created","reload_analyzers_details":{"_shards":{"total":4,"successful":4,"failed":0},"reload_details":[]}}'
  recorded_at: Wed, 04 Oct 2023 13:30:33 GMT
- request:
    method: put
    uri: https://my-deployment.elastic.co/_synonyms/synonym_set_id/rule_id
    body:
      encoding: UTF-8
      string: '{"synonyms":"bye, goodbye"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - xeUefxEdSVWmnVsqAZGpZg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"result":"updated","reload_analyzers_details":{"_shards":{"total":4,"successful":4,"failed":0},"reload_details":[]}}'
  recorded_at: Wed, 04 Oct 2023 13:30:34 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/_synonyms/synonym_set_id/rule_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - "-H8Huc7MQF2CvJggWtBNHQ"
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-864db867ff-rbjxj
    body:
      encoding: UTF-8
      string: '{"id":"rule_id","synonyms":"bye, goodbye"}'
  recorded_at: Wed, 04 Oct 2023 13:30:34 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/_synonyms/synonym_set_id/rule_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.3.0,fd=2.7.11,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - TKAjrpskS_2q-OCUnStYIw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"result":"deleted","reload_analyzers_details":{"_shards":{"total":4,"successful":4,"failed":0},"reload_details":[]}}'
  recorded_at: Wed, 04 Oct 2023 13:30:35 GMT
recorded_with: VCR 6.2.0
