---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/terms_enum_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - Th10SROxSB29-khN8s13Hg
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-q6rbh
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"terms_enum_index"}'
  recorded_at: Wed, 04 Oct 2023 08:17:37 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/terms_enum_index/_doc?refresh=true
    body:
      encoding: UTF-8
      string: '{"name":"garbanzo"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      location:
      - "/terms_enum_index/_doc/11PD-YoBE8e1xszwjc28"
      x-cloud-request-id:
      - NMimrg5zQYKh_x5owhn6bQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"_index":"terms_enum_index","_id":"11PD-YoBE8e1xszwjc28","_version":1,"result":"created","forced_refresh":true,"_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Wed, 04 Oct 2023 08:17:37 GMT
recorded_with: VCR 6.2.0
