---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/terms_enum_index/_terms_enum
    body:
      encoding: UTF-8
      string: '{"field":"name"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - EyXYdesMTN2hzl4eyJgAew
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-index-6448bf8dbf-wgkn9
    body:
      encoding: UTF-8
      string: '{"_shards":{"total":1,"successful":1,"failed":0},"terms":[],"complete":true}'
  recorded_at: Wed, 04 Oct 2023 08:17:47 GMT
recorded_with: VCR 6.2.0
