---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/termvectors_index/_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - pNNteURpTZOsKgcVEgazhw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-864db867ff-rbjxj
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"termvectors_index","_id":"2lPI-YoBE8e1xszwts2d","_score":1.0,"_source":{"name":"poroto"}}]}}'
  recorded_at: Wed, 04 Oct 2023 08:23:15 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/termvectors_index/_termvectors/2lPI-YoBE8e1xszwts2d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - 9RkZrB0oSq-DFWiprygsfw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - bcd7624ffc974dec9158ae9efbeeaa89.es
      x-found-handling-instance:
      - es-es-search-864db867ff-rbjxj
    body:
      encoding: UTF-8
      string: '{"_index":"termvectors_index","_id":"2lPI-YoBE8e1xszwts2d","_version":1,"found":true,"took":0,"term_vectors":{}}'
  recorded_at: Wed, 04 Oct 2023 08:23:16 GMT
recorded_with: VCR 6.2.0
