---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/_transform/population/_stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - zVoq_na_SQG8p6_iTnFgzQ
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - a01fd1ee3ffb466da479539070462062
      x-found-handling-instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"transforms":[{"id":"population","state":"stopped","stats":{"pages_processed":0,"documents_processed":0,"documents_indexed":0,"documents_deleted":0,"trigger_count":0,"index_time_in_ms":0,"index_total":0,"index_failures":0,"search_time_in_ms":0,"search_total":0,"search_failures":0,"processing_time_in_ms":0,"processing_total":0,"delete_time_in_ms":0,"exponential_avg_checkpoint_duration_ms":0.0,"exponential_avg_documents_indexed":0.0,"exponential_avg_documents_processed":0.0},"checkpointing":{"last":{"checkpoint":0},"operations_behind":6},"health":{"status":"green"}}]}'
  recorded_at: Fri, 11 Aug 2023 08:59:39 GMT
recorded_with: VCR 6.1.0
