---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/_transform/population/_preview
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.5p,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - NbOklNasTd2lDDZ26DWe2w
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - a01fd1ee3ffb466da479539070462062
      x-found-handling-instance:
      - instance-0000000001
    body:
      encoding: ASCII-8BIT
      string: '{"preview":[{"pop":0.0,"max_pop":0.0},{"pop":0.6000000238418579,"max_pop":0.6000000238418579},{"pop":9.399999618530273,"max_pop":9.399999618530273},{"pop":13.0,"max_pop":13.0},{"pop":17.600000381469727,"max_pop":17.600000381469727},{"pop":59.400001525878906,"max_pop":59.400001525878906}],"generated_dest_index":{"mappings":{"_meta":{"_transform":{"transform":"population","version":{"created":"8.9.1"},"creation_date_in_millis":1691744380040},"created_by":"transform"},"properties":{"pop":{"type":"float"},"max_pop":{"type":"float"}}},"settings":{"index":{"number_of_shards":"1","auto_expand_replicas":"0-1"}},"aliases":{}}}'
  recorded_at: Fri, 11 Aug 2023 08:59:40 GMT
recorded_with: VCR 6.1.0
