---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/update_by_query_index/_update_by_query
    body:
      encoding: UTF-8
      string: '{"query":{"term":{"name":"user"}},"script":{"source":"ctx._source.age++","lang":"painless"}}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - esv=0.0.7p,rb=3.2.2,t=8.2.2,fd=2.7.10,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      elastic-api-version:
      - '2023-10-31'
      x-cloud-request-id:
      - kDsqkOACR4qL0V5FuZwRog
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - b4d146099af649a18caa89c5dc303129.es
      x-found-handling-instance:
      - es-es-index-7fcf764597-2ddqb
    body:
      encoding: UTF-8
      string: '{"took":81,"timed_out":false,"total":1,"updated":1,"deleted":0,"batches":1,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
  recorded_at: Tue, 12 Sep 2023 13:05:52 GMT
recorded_with: VCR 6.2.0
