---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/my-deletable-index/_doc
    body:
      encoding: UTF-8
      string: '{"name":"Testing","description":"To be deleted"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      location:
      - "/my-deletable-index/_doc/2E6ij4gBpEuJav-UKwKK"
      x-cloud-request-id:
      - A-tKq8mwTbawkWf_jufGvA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - 1d180c72b0da4fa19c7a135d8084fd67
      x-found-handling-instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"_index":"my-deletable-index","_id":"2E6ij4gBpEuJav-UKwKK","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Tue, 06 Jun 2023 07:35:50 GMT
- request:
    method: delete
    uri: https://my-deployment.elastic.co/my-deletable-index/_doc/2E6ij4gBpEuJav-UKwKK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - L3lZZlz-Se6b8Ge_Vqsjog
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - 1d180c72b0da4fa19c7a135d8084fd67
      x-found-handling-instance:
      - instance-0000000001
    body:
      encoding: ASCII-8BIT
      string: '{"_index":"my-deletable-index","_id":"2E6ij4gBpEuJav-UKwKK","_version":2,"result":"deleted","_shards":{"total":2,"successful":2,"failed":0},"_seq_no":1,"_primary_term":1}'
  recorded_at: Tue, 06 Jun 2023 07:35:53 GMT
recorded_with: VCR 6.1.0
