---
http_interactions:
- request:
    method: get
    uri: https://my-deployment.elastic.co/test_get/_doc/XpCpKokBy503L3DMCkVx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - Uu8umCFYQnG4eWt_gLLljw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - d9303c7b9aa9495cb39c8c756f9e8b88.es
      x-found-handling-instance:
      - es-es-search-6fdfb5d9bc-fbpqw
    body:
      encoding: UTF-8
      string: '{"_index":"test_get","_id":"XpCpKokBy503L3DMCkVx","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"name":"Testing","service":"Serverless"}}'
  recorded_at: Thu, 06 Jul 2023 10:04:29 GMT
recorded_with: VCR 6.1.0
