---
http_interactions:
- request:
    method: put
    uri: https://my-deployment.elastic.co/test_get
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - 4ofe8AvvQrK0t6QbyStcLA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - d9303c7b9aa9495cb39c8c756f9e8b88.es
      x-found-handling-instance:
      - es-es-index-d8696798f-gzf5q
    body:
      encoding: UTF-8
      string: '{"acknowledged":true,"shards_acknowledged":true,"index":"test_get"}'
  recorded_at: Thu, 06 Jul 2023 10:04:28 GMT
- request:
    method: post
    uri: https://my-deployment.elastic.co/test_get/_doc
    body:
      encoding: UTF-8
      string: '{"name":"Testing","service":"Serverless"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      location:
      - "/test_get/_doc/XpCpKokBy503L3DMCkVx"
      x-cloud-request-id:
      - Laiw0UqVTRqlNI_LPT_iOw
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - d9303c7b9aa9495cb39c8c756f9e8b88.es
      x-found-handling-instance:
      - es-es-index-d8696798f-gzf5q
    body:
      encoding: UTF-8
      string: '{"_index":"test_get","_id":"XpCpKokBy503L3DMCkVx","_version":1,"result":"created","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Thu, 06 Jul 2023 10:04:28 GMT
recorded_with: VCR 6.1.0
