---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/my-testing-index/_doc
    body:
      encoding: UTF-8
      string: '{"name":"Testing","service":"Serverless"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      location:
      - "/my-testing-index/_doc/Z4aEjIgBmQdm0AXpRX1i"
      x-cloud-request-id:
      - hGVEhBO_Ru61i8Lbe101ZA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - cbc2717e49a44548866e45d03c675dba.es
      x-found-handling-instance:
      - es-es-search-fd797d54b-tnlp7
    body:
      encoding: UTF-8
      string: '{"_index":"my-testing-index","_id":"Z4aEjIgBmQdm0AXpRX1i","_version":1,"result":"created","_shards":{"total":1,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
  recorded_at: Mon, 05 Jun 2023 17:04:19 GMT
recorded_with: VCR 6.1.0
