---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/index-to-analyze/_analyze
    body:
      encoding: UTF-8
      string: '{"analyzer":"whitespace","text":"this is a test"}'
    headers:
      Authorization:
      - ApiKey my_api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - q7XAtghwRQ2hKEC-UoBNig
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - e9f9883f2f084d6b9c3aa53d8e3431fe.es
      x-found-handling-instance:
      - es-es-index-6f58cdbf4b-88ngk
    body:
      encoding: UTF-8
      string: '{"tokens":[{"token":"this","start_offset":0,"end_offset":4,"type":"word","position":0},{"token":"is","start_offset":5,"end_offset":7,"type":"word","position":1},{"token":"a","start_offset":8,"end_offset":9,"type":"word","position":2},{"token":"test","start_offset":10,"end_offset":14,"type":"word","position":3}]}'
  recorded_at: Thu, 20 Jul 2023 09:55:33 GMT
recorded_with: VCR 6.1.0
