---
http_interactions:
- request:
    method: post
    uri: https://my-deployment.elastic.co/_bulk
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"books","_id":"42"}}
        {"name":"The Hitchhiker's Guide to the Galaxy","author":"Douglas Adams","release_date":"1979-10-12","page_count":180}
        {"index":{"_index":"books","_id":"43"}}
        {"name":"Snow Crash","author":"Neal Stephenson","release_date":"1992-06-01","page_count":470}
        {"index":{"_index":"books","_id":"44"}}
        {"name":"Starship Troopers","author":"Robert A. Heinlein","release_date":"1959-12-01","page_count":335}
    headers:
      Authorization:
      - ApiKey api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - uzlIqTsaS2mnWXFaPafxzA
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - 1c6af1bf93c54c91b4c180a85af75756
      x-found-handling-instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"took":7,"errors":false,"items":[{"index":{"_index":"books","_id":"42","_version":12,"result":"updated","_shards":{"total":2,"successful":2,"failed":0},"_seq_no":33,"_primary_term":1,"status":200}},{"index":{"_index":"books","_id":"43","_version":12,"result":"updated","_shards":{"total":2,"successful":2,"failed":0},"_seq_no":34,"_primary_term":1,"status":200}},{"index":{"_index":"books","_id":"44","_version":12,"result":"updated","_shards":{"total":2,"successful":2,"failed":0},"_seq_no":35,"_primary_term":1,"status":200}}]}'
  recorded_at: Mon, 17 Apr 2023 14:16:11 GMT
- request:
    method: get
    uri: https://my-deployment.elastic.co/books/_search?q=snow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey api_key
      x-elastic-client-meta:
      - et=8.2.1,rb=3.2.2,t=8.2.1,fd=2.7.4,nh=0.3.2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-cloud-request-id:
      - T9EeJQKFSx6jhcUiKURa0g
      x-elastic-product:
      - Elasticsearch
      x-found-handling-cluster:
      - 1c6af1bf93c54c91b4c180a85af75756
      x-found-handling-instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"took":370,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":1.2310667,"hits":[{"_index":"books","_id":"43","_score":1.2310667,"_source":{"name":"Snow
        Crash","author":"Neal Stephenson","release_date":"1992-06-01","page_count":470}}]}}'
  recorded_at: Mon, 17 Apr 2023 14:16:12 GMT
recorded_with: VCR 6.1.0
